
@using EPiServer.Commerce.Catalog.ContentTypes
@model CommerceTraining.Models.Catalog.ShirtProduct

<div>
    @Model.MainBody

    <div>
        <ul>
            Variations
            @foreach (var item in @Model.GetVariants())
            {
                <li>@Html.ContentLink(item)</li>
            }

        </ul>
    </div>

</div>