@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model CommerceTraining.Models.Pages.OrderViewModel

<div>
    Order Page
</div>

<div>
    Your order number is: @Html.PropertyFor(m => m.TrackingNumber)
</div>
<div>
  
</div>